.tableContainer {
  text-align: left;
  margin: 0 auto;
  min-width: 100%;
  resize: both;
  border-collapse: collapse;
}

.headerContainer > th {
  padding: 0.7rem;
}

.dataContainer > td {
  padding: 0.7rem;
}

.tableProductThumbnail {
  max-width: 8rem;
}

.tableContainer tr {
  border-bottom: 1px solid var(--transparent-gray);
}

.removeButton {
  border-style: none;
  font-weight: 700;
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  height: 20px;
  width: 20px;
}

.removeButton:hover {
  color: var(--text-white);
  background-color: var(--text-red);
}

.mobileHeader {
  display: none;
}

@media screen and (max-width: 680px) {
  .mobileHeader {
    display: block;
  }

  .productSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dataContainer > td {
    display: block;
  }

  .tableContainer > thead {
    display: none;
  }

  .removeButtonTD {
    float: right;
  }
}
