.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  text-align: center;
  padding: 0 10rem;
  padding-top: 40px;
}

.categoryContainer {
  display: flex;
  gap: 5%;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}
