.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  text-align: center;
}

.categoryContainer {
  display: flex;
  gap: 5%;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.footerCategory {
  width: 100%;
  text-align: left;
}

.footerCategory > h2 {
  font-weight: 700;
  font-size: 2rem;
}
