.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  text-align: center;
}

.categoryContainer {
  display: flex;
  gap: 5%;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.footerCategory {
  width: 100%;
  text-align: left;
}

.footerCategory > h2 {
  font-weight: 700;
  font-size: 2rem;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
}

.contactDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 1.4rem;
}

.socialMediaLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.socialMediaIcon {
  height: 2.7rem;
}

.instagramIcon {
  fill: deeppink;
}

@media screen and (max-width: 1225px) {
  .productContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footerCategory > h2 {
    font-weight: 700;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1225px) {
  .footerCategory > h2 {
    font-weight: 700;
    font-size: 1.3rem;
  }
  .contactContainer {
    gap: 15px;
  }
  .categoryContainer p {
    font-size: 1rem;
  }
  .socialMediaIcon {
    height: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .categoryContainer {
    gap: 1%;
  }
}

@media screen and (max-width: 520px) {
  .productContainer {
    grid-template-columns: 1fr 1fr;
  }
  .categoryContainer {
    gap: 10px;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .productContainer {
    grid-template-columns: 1fr;
  }
}
