.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 30px;
}

@media screen and (max-width: 1366px) {
  .productGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 568px) {
  .productGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 312px) {
  .productGrid {
    grid-template-columns: 1fr;
  }
}
